@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* CAMBIO: Eliminamos 'height: 100%' 
   Estaba rompiendo el cálculo de 'h-screen'
*/
html,
#root,
body {
  min-height: 100vh; 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding: 20px;
}
body {
  background-image: linear-gradient(to left, #37312a, #191817, #191817);
  color: #ffff;
}
.film-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.film-card {
  position: relative;
  border-radius: 20px;
  width: 245px;
  box-shadow: 0 3px 10px rgba(229, 212, 212, 0.2);
  overflow: hidden;
}

.sidebar {
  box-shadow: 0px 0px 10px #6100c2;
}

/* Transición para la sidebar */
.sidebar {
  transition: all 0.25s ease;
}

.sidebar-link a :hover {
  background-color: #393734;
}
.critics-btn {
  background-color: #6100c2;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}

.like-btn {
  background-color: #ffff;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}
.critics-btn:hover {
  background-color: #52069e;
}
.like-btn:hover {
  background-color: #d6d6d6;
}

/* CAMBIO: Eliminamos este bloque completo.
  Estaba "peleando" con la lógica de React (el estado isOpen).
  Ahora React tendrá 100% del control sobre si la sidebar
  se muestra o se oculta, tanto en móvil como en desktop.
*/
/*
@media (max-width: 768px) {
  .sidebar {
    width: 0;
  }
}
*/